<!-- Recent Sales Start -->
<div class="content d-flex justify-content-center">
  <div class="container">
    <ng-container *ngIf =" patients | async as listPatients; else failureOrLading">
      <div class="card">
        <div class="card-header">
          <div class="row-cols-auto">
            <div class="row-cols-auto">List of Patients</div>
          </div>
        </div>
        <div class="card-body">
          <div *ngIf="searchFormGroup">
            <form [formGroup]="searchFormGroup" (ngSubmit)="handleSearchPatients()">
              <div class="input-group">
                <label class="input-group-text">Keyword :</label>
                <input type="text" formControlName="keyword" class="form-control" placeholder="Search by last name...">
                <button class="btn btn-info">
                  <i class="bi bi-search"></i>
                </button>
              </div>
            </form>
          </div>

          <table class="table">
            <thead>
            <tr>
              <th>ID</th><th>First name</th><th>Last name</th><th>Cin</th><th>Insurance number</th><th>Patient</th><th>Email</th><th>Phone</th><th>Family situation</th><th>Actions</th>
              <th></th>
              <th>
                <div>
                  <button class="btn btn-md btn-success" (click)="open(content)">
                    <i class="bi bi-person-plus-fill"></i>
                  </button>
                </div>
              </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let a of patients | async">
              <td>{{a.idPatient}}</td>
              <td>{{a.firstName}}</td>
              <td>{{a.lastName}}</td>
              <td>{{a.cin}}</td>
              <td>{{a.insuranceNumber}}</td>
              <td>{{a.address}}</td>
              <td>{{a.email}}</td>
              <td>{{a.phone}}</td>
              <td>{{a.familySituation}}</td>
              <td>
                <div class="btn-group">
                  <button  class="btn btn-secondary" (click)="openFormAppointment(addAppointment,a)" >
                    <i class="bi bi-calendar-plus"></i>
                  </button>
                <button  class="btn btn-primary mx-1" (click)="openDetails(contentDetails,a)" >
                  <i class="bi bi-eye-fill"></i>
                </button>
                  <button  class="btn btn-warning mx-1" (click)="openEdit(updatePatient, a)" >
                    <i class="bi bi-pen"></i>
                  </button>
                  <button  class="btn btn-danger mx-1" (click)="handleDeletePatient(a)" >
                    <i class="bi bi-trash"></i>
                  </button>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </ng-container>
    <ng-template #failureOrLading>
      <ng-container *ngIf="errorMessage; else loading">
        <div class="text-danger">
          {{errorMessage}}
        </div>
      </ng-container>
      <ng-template #loading>
        Loading .....
      </ng-template>
    </ng-template>
  </div>
</div>

<!--NewAppointmentwithPatientModal-->
<ng-template #addAppointment let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title4">Add New Appointment</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="newAppwithPatientFormGroup" (ngSubmit)="handleSaveAppointmentWithPatient()" >

      <div class="row">

        <div class="col-md-6">
          <div class="mb-3">
            <label class="form-label">ID:</label>
            <input  type="text" formControlName="patientId" class="form-control" >
          </div>

          <div class="mb-3">
            <label class="form-label">Date:</label>
            <input  type="date" formControlName="date" class="form-control" >
          </div>

          <div class="mb-3">
            <label class="form-label">Time:</label>
            <input type="time" formControlName="time" class="form-control">
          </div>

          <div class="mb-3">
            <label class="form-label">activationState:</label>
            <input type="text" formControlName="activationState" class="form-control" >
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3">
            <label class="form-label">confirmation:</label>
            <input type="text" formControlName="confirmation" class="form-control">
          </div>

          <div class="mb-3">
            <label class="form-label">stateOfIllness:</label>
            <input type="text" formControlName="stateOfIllness" class="form-control">
          </div>

          <div class="mb-3">
            <label class="form-label">statesOfPatient:</label>
            <input type="text" formControlName="stateOfPatient" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="mb-3">
          <label class="form-label">ReasonOfAppointment:</label>
          <input type="text" formControlName="reasonOfAppointment" class="form-control">
        </div>
      </div>
      <div class="modal-footer">
        <!--        [disabled]="!newAppointmentFormGroup.valid"-->
        <button  class="btn btn-outline-success" (click)="modal.close('Save click')">Save</button>
      </div>
    </form>
  </div>
</ng-template>



<!--NewPatientModal-->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">New Patient</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">


    <form [formGroup]="newPatientFormGroup" (ngSubmit)="handleSavePatient()">

      <div class="row-cols-auto">

        <div class="col-md-auto">
          <div class="mb-auto">
            <label class="form-label">First Name:</label>
            <input type="text" formControlName="firstName" class="form-control" >
            <span class="text-danger"
                  *ngIf="newPatientFormGroup.controls['firstName'].touched
                && newPatientFormGroup.controls['firstName'].errors
                && newPatientFormGroup.controls['firstName'].errors!['required']">
            First Name is Required
          </span>
          </div>

          <div class="mb-auto">
            <label class="form-label">Last Name:</label>
            <input type="text" formControlName="lastName" class="form-control">
            <span class="text-danger"
                  *ngIf="newPatientFormGroup.controls['lastName'].touched
                && newPatientFormGroup.controls['lastName'].errors
                && newPatientFormGroup.controls['lastName'].errors!['required']">
            last Name is Required
          </span>
          </div>
          <div class="mb-auto">
            <label class="form-label">Cin:</label>
            <input type="text" formControlName="cin" class="form-control">
            <span class="text-danger"
                  *ngIf="newPatientFormGroup.controls['cin'].touched
                && newPatientFormGroup.controls['cin'].errors
                && newPatientFormGroup.controls['cin'].errors!['required']">
            Cin is Required
          </span>
          </div>

          <div class="mb-auto">
            <label class="form-label">Insurance Number:</label>
            <input type="text" formControlName="insuranceNumber" class="form-control">
            <span class="text-danger"
                  *ngIf="newPatientFormGroup.controls['insuranceNumber'].touched
                && newPatientFormGroup.controls['insuranceNumber'].errors
                && newPatientFormGroup.controls['insuranceNumber'].errors!['required']">
            Insurance Number is Required
          </span>
          </div>

          <div class="mb-3">
            <label class="form-label">Date Of Birth:</label>
            <input type="date" formControlName="dateOfBirth" class="form-control">
            <span class="text-danger"
                  *ngIf="newPatientFormGroup.controls['dateOfBirth'].touched
                && newPatientFormGroup.controls['dateOfBirth'].errors
                && newPatientFormGroup.controls['dateOfBirth'].errors!['required']">
            Date Of Birth is Required
          </span>
          </div>
        </div>


        <div class="col-md-6">
          <div class="mb-3">
            <label class="form-label">Address:</label>
            <input type="text" formControlName="address" class="form-control">
            <span class="text-danger"
                  *ngIf="newPatientFormGroup.controls['address'].touched
                && newPatientFormGroup.controls['address'].errors
                && newPatientFormGroup.controls['address'].errors!['required']">
            Address is Required
          </span>
          </div>

          <div class="mb-3">
            <label class="form-label">Email:</label>
            <input type="text" formControlName="email" class="form-control">
            <span class="text-danger"
                  *ngIf="newPatientFormGroup.controls['email'].touched
                && newPatientFormGroup.controls['email'].errors
                && newPatientFormGroup.controls['email'].errors!['required']">
            Email is Required
          </span>
          </div>

          <div class="mb-3">
            <label class="form-label">Phone:</label>
            <input type="text" formControlName="phone" class="form-control">
            <span class="text-danger"
                  *ngIf="newPatientFormGroup.controls['phone'].touched
                && newPatientFormGroup.controls['phone'].errors
                && newPatientFormGroup.controls['phone'].errors!['required']">
            Phone is Required
          </span>
          </div>

          <div class="mb-3">
            <label for="familySituation">Family Situation</label>
            <select id="familySituation" formControlName="familySituation" class="form-control" [(ngModel)]="selectedFamilySituation">
              <option value="" disabled [selected]="!selectedFamilySituation">Select Family Situation</option>
              <option *ngFor="let situation of familySituations" [value]="situation">{{ situation }}</option>
            </select>

            <!--          <input type="text" formControlName="familySituation" class="form-control">-->
            <span class="text-danger"
                  *ngIf="newPatientFormGroup.controls['familySituation'].touched
                && newPatientFormGroup.controls['familySituation'].errors
                && newPatientFormGroup.controls['familySituation'].errors!['required']">
            Family Situation is Required
          </span>
          </div>
        </div>
      </div>


      <div class="modal-footer">
        <!--        [disabled]="!newPatientFormGroup.valid"-->
        <button [disabled]="!newPatientFormGroup.valid" class="btn btn-success" (click)="modal.close('Save click')">Save</button>
        <!--        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>-->
      </div>
    </form>
  </div>
</ng-template>

<!--contentDetails-->
<ng-template #contentDetails let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title1">Patient Details</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <form>

      <!--      div.row>div.col*2-->
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label>First Name</label>
            <div class="input-group">
              <input id="firstName0" class="form-control" readonly>
            </div>
          </div>
          <div class="form-group">
            <label>Last Name</label>
            <div class="input-group">
              <input id="lastName0" class="form-control" readonly>
            </div>
          </div>
          <div class="form-group">
            <label>Cin</label>
            <div class="input-group">
              <input id="cin0" class="form-control" readonly>
            </div>
          </div>
          <div class="form-group">
            <label>Insurance Number</label>
            <div class="input-group">
              <input id="insuranceNumber0" class="form-control" readonly>
            </div>
          </div>
          <div class="form-group">
            <label> Date Of Birth</label>
            <div class="input-group">
              <input id="dateOfBirth0" class="form-control" readonly>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label>Address</label>
            <div class="input-group">
              <input id="address0" class="form-control" readonly>
            </div>
          </div>
          <div class="form-group">
            <label>Email</label>
            <div class="input-group">
              <input id="email0" class="form-control" readonly>
            </div>
          </div>
          <div class="form-group">
            <label>Phone</label>
            <div class="input-group">
              <input id="phone0" class="form-control" readonly>
            </div>
          </div>
          <div class="form-group">
            <label>Family Situation</label>
            <div class="input-group">
              <input id="familySituation0" class="form-control" readonly>
            </div>
          </div>
        </div>
      </div>




    </form>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>


<!--updateModalPatient-->
<ng-template #updatePatient let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title3">Update Patient</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="editPatientFormGroup" (ngSubmit)="handleUpdatePatient()">

      <div class="row">
        <div class="col-md-6">
          <div class="mb-3">
            <label class="form-label">First Name:</label>
            <input  id="firstName1" type="text" formControlName="firstName" class="form-control" >
            <span class="text-danger"
                  *ngIf="newPatientFormGroup.controls['firstName'].touched
                && newPatientFormGroup.controls['firstName'].errors
                && newPatientFormGroup.controls['firstName'].errors!['required']">
            first Name is Required
          </span>
          </div>

          <div class="mb-3">
            <label class="form-label">Last Name:</label>
            <input type="text" formControlName="lastName" class="form-control">
            <span class="text-danger"
                  *ngIf="newPatientFormGroup.controls['lastName'].touched
                && newPatientFormGroup.controls['lastName'].errors
                && newPatientFormGroup.controls['lastName'].errors!['required']">
            last Name is Required
          </span>
          </div>

          <div class="mb-3">
            <label class="form-label">Cin:</label>
            <input type="text" formControlName="cin" class="form-control">
            <span class="text-danger"
                  *ngIf="newPatientFormGroup.controls['cin'].touched
                && newPatientFormGroup.controls['cin'].errors
                && newPatientFormGroup.controls['cin'].errors!['required']">
            Cin is Required
          </span>
          </div>

          <div class="mb-3">
            <label class="form-label">Insurance Number:</label>
            <input type="text" formControlName="insuranceNumber" class="form-control">
            <span class="text-danger"
                  *ngIf="newPatientFormGroup.controls['insuranceNumber'].touched
                && newPatientFormGroup.controls['insuranceNumber'].errors
                && newPatientFormGroup.controls['insuranceNumber'].errors!['required']">
            Insurance Number is Required
          </span>
          </div>

          <div class="mb-3">
            <label class="form-label">Date Of Birth:</label>
            <input type="date" formControlName="dateOfBirth" class="form-control">
            <span class="text-danger"
                  *ngIf="newPatientFormGroup.controls['dateOfBirth'].touched
                && newPatientFormGroup.controls['dateOfBirth'].errors
                && newPatientFormGroup.controls['dateOfBirth'].errors!['required']">
            Date Of Birth is Required
          </span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3">
            <label class="form-label">Address:</label>
            <input type="text" formControlName="address" class="form-control">
            <span class="text-danger"
                  *ngIf="newPatientFormGroup.controls['address'].touched
                && newPatientFormGroup.controls['address'].errors
                && newPatientFormGroup.controls['address'].errors!['required']">
            Address is Required
          </span>
          </div>

          <div class="mb-3">
            <label class="form-label">Email:</label>
            <input type="text" formControlName="email" class="form-control">
            <span class="text-danger"
                  *ngIf="newPatientFormGroup.controls['email'].touched
                && newPatientFormGroup.controls['email'].errors
                && newPatientFormGroup.controls['email'].errors!['required']">
            Email is Required
          </span>
          </div>

          <div class="mb-3">
            <label class="form-label">Phone:</label>
            <input type="text" formControlName="phone" class="form-control">
            <span class="text-danger"
                  *ngIf="newPatientFormGroup.controls['phone'].touched
                && newPatientFormGroup.controls['phone'].errors
                && newPatientFormGroup.controls['phone'].errors!['required']">
            Phone is Required
          </span>
          </div>

          <div class="mb-3">
            <label class="form-label">Family Situation:</label>
            <!--            <input type="text" formControlName="familySituation" class="form-control">-->
            <select formControlName="familySituation" class="form-control">
              <option *ngFor="let situation of familySituations" [value]="situation">{{ situation }}</option>
            </select>
            <span class="text-danger"
                  *ngIf="newPatientFormGroup.controls['familySituation'].touched
                && newPatientFormGroup.controls['familySituation'].errors
                && newPatientFormGroup.controls['familySituation'].errors!['required']">
            Family Situation is Required
          </span>
          </div>
        </div>
      </div>




      <div class="modal-footer">
        <!--        [disabled]="!editPatientFormGroup.valid"-->
        <button class="btn btn-info" (click)="modal.close('Save click')">Save change</button>
        <!--        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>-->
      </div>

    </form>
  </div>
</ng-template>
