<!-- Recent Sales Start -->
<div class="content">
  <div class="container mt-2">
    <ng-container *ngIf =" patients | async as listPatients; else failureOrLading">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col">List of Patients</div>
            <div class="col"></div>
            <div class="col">
              <button class="btn btn-md btn-outline-primary" >
                <i class="bi bi-geo-alt">New Patient</i>
              </button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div *ngIf="searchFormGroup">
            <form [formGroup]="searchFormGroup" (ngSubmit)="handleSearchPatients()">
              <div class="input-group">
                <label class="input-group-text">Keyword :</label>
                <input type="text" formControlName="keyword" class="form-control">
                <button class="btn btn-info">
                  <i class="bi bi-search"></i>
                </button>
              </div>
            </form>
          </div>
          <table class="table">
            <thead>
            <tr>
              <th>ID</th><th>First name</th><th>Last name</th><th>Cin</th><th>Insurance number</th><th>Address</th><th>Email</th><th>Phone</th><th>Family situation</th><th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let a of patients | async">
              <td>{{a.idPatient}}</td>
              <td>{{a.firstName}}</td>
              <td>{{a.lastName}}</td>
              <td>{{a.cin}}</td>
              <td>{{a.insuranceNumber}}</td>
              <td>{{a.address}}</td>
              <td>{{a.email}}</td>
              <td>{{a.phone}}</td>
              <td>{{a.familySituation}}</td>
              <td>
                <button  class="btn btn-primary" >
                  <i class="bi bi-geo-alt"></i>
                </button>
              </td>
              <td>
                <button  class="btn btn-warning"  >
                  <!--                (click)="openUpdatePatient(updatePatient, address)"-->
                  <i class="bi bi-pen"></i>
                </button>
              </td>
              <td>
                <button (click)="handleDeletePatient(a)" class="btn btn-danger">
                  <i class="bi bi-trash"></i>
                </button>
              </td>

            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </ng-container>
    <ng-template #failureOrLading>
      <ng-container *ngIf="errorMessage; else loading">
        <div class="text-danger">
          {{errorMessage}}
        </div>
      </ng-container>
      <ng-template #loading>
        Loading .....
      </ng-template>
    </ng-template>
  </div>
</div>

<!-- Recent Sales End -->
